body{
    background-image: url(https://wallpaperfx.com/view_image/perfect-breakfast-1920x1080-wallpaper-15011.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sen'; 
    margin:0;
}



input[type=text], select, textarea{
    background-color: #e1b879;
}

.contact-container{
    opacity: 0.9;
    background-size: 70px;
    background-position: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.navigation-bar{
    overflow: hidden;
    background-color: #f5c567;
    padding: 10px;
    opacity: 0.9;
}

.navigation-bar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    width: 22%;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.9;
}

.navigation-bar a:hover{
    background-color: #fefdff;
    color: black;
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    padding: 5px;
    text-align: center;
    background-color: #f5c567;
    opacity: 0.9;
    width: 50%;
}

.row{
    padding: 5px;
    display: flex;
    background-color: #f5c567;
    opacity: 0.9;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.social-media{
    opacity: 0.9;
    background-size: 70px;
    background-position: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.footer{
    left: 0;
    bottom: 0;
    text-align: right;
    color: white;
}